/* Add a css reset */
@import url("./normalize.css");

/* Specify colors */
:root {
  --bg-clr: #f9f6f8;
  --bg-light: #fff;
  --text-clr: #313536;
  --accent1-clr: #eb4f43;
  --accent2-clr: #b6e995;
  --font-stack: font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  min-height: 100vh;
}
body {
  font-size: 1rem;
  font-family: var(--font-stack);
  background-color: var(--bg-clr);
  color: var(--text-clr);
}
h1 {
  background-color: var(--bg-light);
  font-weight: 300;
  font-size: 3.5rem;
  text-align: center;
  margin: 0;
  padding: 1.5rem 0 0.5rem 0;
  box-shadow: 0px 2px 2px gray;
  font-style: italic;
}
#add_btn {
  font-size: 1.5rem;
  display: block;
  padding: 1rem 0;
  margin: 1rem auto;
  background-color: var(--bg-clr);
  border: 1px solid var(--text-clr);
  border-radius: 5px;
  width: 40%;
  cursor: pointer;
}
#add_btn:hover{
  transform: scale(1.03);
}
#container {
  margin: 1rem 8vw;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;
}
#container > * {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--bg-light);
  border: 2px solid var(--accent1-clr);
  gap: 1rem;
  padding: 1.5rem;
  box-shadow: 0px 0px 3px gray;
}
h2 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
  margin: 0;
}
p {
  text-align: center;
  margin: 0;
}
button {
  font-size: 1.2rem;
  border-radius: 1rem;
  min-width: 50%;
  transition: transform ease-in-out 125ms;
  background-color: var(--bg-clr);
  border: 1px solid rgb(0 0 0 / 0.4);
}
button:hover {
  transform: scale(1.05);
  background-color: var(--bg-clr);
}
.read {
  border: 2px solid var(--accent1-clr);
}
.not-read {
  border: 2px solid var(--accent2-clr);
}

dialog {
  border-radius: 0.8rem;
  background-color: var(--bg-light);
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
form > div {
  display: flex;
}
form > div > * {
  min-width: 50%;
  font-size: 1.1rem;
}
form button {
  align-self: center;
  padding: 0.5rem 2.5rem;
}
form > h2 {
  padding: 0.8rem 0;
  font-size: 1.8rem;
}
dialog > svg {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 1.2rem;
  top: 1.62rem;
  cursor: pointer;
}
input[type="checkbox"] {
  accent-color: currentColor;
}
